* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
     width: 100%;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(45deg, #F5F2FF, #E6EEFE);
}

.login {
     background: white;
     box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
     padding: 15px 11px;
     text-align: center;
     border-radius: 5px;
     height: 438px;
}

.login h2 {
     text-align: center;
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 10px;
}

.login .box {
     position: relative;
     margin-bottom: 20px;
}

.box {
     display: flex;
}

.top {
     display: inline-block;
     padding-bottom: 20px;
     margin-top: 1px;
}

.top p {
     font-size: 12px;
     font-weight: 550;
     color: #5C5C5E;

}

.pass {
     font-size: 13px;
     padding-right: 232px;
     padding-bottom: 10px;
     color: #B0B3C1;
     font-weight: 550;
}

a.x {
     display: flex;
     margin-left: 364px;
     margin-bottom: -15px;
     padding: 5px 5px 5px 5px;
     text-decoration: none;
}

input {
     position: relative;
     width: 300px;
     height: 40px;
     text-indent: 10px;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 6px;
     outline: none;
     font-size: 1.1em;
     transition: linear 0.2s;
}

input:focus {
     border-color: #3CB6FD;
     text-indent: 20px;
}

.btnLogin {
     background-color: #3CB6FD;
     display: inline-block;
     padding: 12px 153px;
     margin-top: 1px;
     color: white;
     text-decoration: none;
     text-align: center;
     font-size: 15px;
     font-weight: 500;
     transition: linear 0.2s;
     border-radius: 10px;
}

.btnLogin:hover {
     background-color: #BEE6FE;
     color: white;
     box-shadow: none;
}

.into {
     padding: 26px 25px 20px 12px;
     margin-left: 16px;
     margin-right: 5px;
}

div img {
     width: 28px;
     height: 25px;
     margin-bottom: 20px;
}

.lock {
     border: 1px solid rgba(0, 0, 0, 0.2);
     width: 40px;
     border-radius: 10px;
}

.lock i {
     padding-top: 11px;
}