USE [master]
GO
/****** Object:  Database [SWP391]    Script Date: 10/16/2022 11:11:38 PM ******/
CREATE DATABASE [SWP391]
ALTER DATABASE [SWP391] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerContent] [ntext] NULL,
	[QuestionID] [int] NOT NULL,
	[isCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BlogDate] [datetime] NULL,
	[BlogContent] [ntext] NULL,
	[BlogTilte] [nvarchar](200) NULL,
	[BlogImage] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[VideoID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CommentContent] [ntext] NULL,
	[CommentDate] [datetime] NULL,
	[Likes] [int] NULL,
	[isReported] [bit] NOT NULL,
	[ParentID] [int] NULL,
	[isDisable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentBlog]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentBlog](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentContent] [ntext] NULL,
	[CommentDate] [datetime] NULL,
	[Likes] [int] NULL,
	[BlogID] [int] NOT NULL,
	[isReported] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[DateCreate] [datetime] NULL,
	[AuthorID] [int] NOT NULL,
	[Category] [nvarchar](200) NULL,
	[NumberEnrolled] [int] NOT NULL,
	[CoursePrice] [real] NULL,
	[CourseImage] [text] NULL,
	[Status] [nchar](10) NOT NULL,
	[Description] [ntext] NULL,
	[Objectives] [ntext] NULL,
	[Difficulty] [nchar](10) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docs]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docs](
	[DocsID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[Content] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[SectionID] [int] NOT NULL,
	[LessonName] [nvarchar](200) NULL,
	[isDisable] [bit] NOT NULL,
	[types] [varchar](10) NULL,
	[Time] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[from] [int] NOT NULL,
	[to] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[content] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NoticeID] [int] IDENTITY(1,1) NOT NULL,
	[NoticeContent] [ntext] NULL,
	[NoticeDate] [datetime] NULL,
	[isSeen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionContent] [ntext] NOT NULL,
	[QuizID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[Mark] [real] NULL,
	[LessonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recharge]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recharge](
	[RechargeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RechargeDate] [datetime] NULL,
	[Amount] [int] NULL,
	[Status] [int] NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](50) NULL,
 CONSTRAINT [PK__Recharge__C5894516ACF264DD] PRIMARY KEY CLUSTERED 
(
	[RechargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CommentID] [int] NOT NULL,
	[ReportContent] [nvarchar](50) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC,
	[UserID] ASC,
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[SectionName] [nvarchar](200) NULL,
	[isDisable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](12) NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DoB] [date] NULL,
	[PostCode] [varchar](10) NULL,
	[Balance] [int] NULL,
	[Avatar] [text] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](64) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[BankNumber] [varchar](20) NULL,
	[BankName] [nvarchar](50) NULL,
	[isDisable] [bit] NOT NULL,
 CONSTRAINT [PK__User__1788CCACC5C4F906] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Comment]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Comment](
	[CommentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[isLiked] [bit] NULL,
 CONSTRAINT [PK_User_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Course](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[isStudied] [bit] NOT NULL,
	[CourseRating] [int] NULL,
	[CourseFeedback] [ntext] NULL,
	[Progress] [real] NULL,
	[Paydate] [datetime] NULL,
	[isFavourite] [bit] NULL,
 CONSTRAINT [PK__User_Cou__7B1A1BB4D6DDFF75] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Lesson]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Lesson](
	[UserID] [int] NOT NULL,
	[LessonID] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_User_Lesson] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Notification]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Notification](
	[UserID] [int] NOT NULL,
	[NoticeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Question]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Question](
	[UserID] [int] NOT NULL,
	[AnswerID] [int] NOT NULL,
 CONSTRAINT [PK_User_Question] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[VideoID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[VideoName] [nvarchar](200) NULL,
	[VideoLink] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([AnswerID], [AnswerContent], [QuestionID], [isCorrect]) VALUES (1, N'ngu', 1, 0)
INSERT [dbo].[Answer] ([AnswerID], [AnswerContent], [QuestionID], [isCorrect]) VALUES (2, N'thieu nang', 1, 1)
INSERT [dbo].[Answer] ([AnswerID], [AnswerContent], [QuestionID], [isCorrect]) VALUES (3, N'okla', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Answer] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [VideoID], [UserID], [CommentContent], [CommentDate], [Likes], [isReported], [ParentID], [isDisable]) VALUES (1005, 7, 6, N'ngu , Hello anh em', CAST(N'2022-10-15T00:00:00.000' AS DateTime), 4, 1, 0, 0)
INSERT [dbo].[Comment] ([CommentID], [VideoID], [UserID], [CommentContent], [CommentDate], [Likes], [isReported], [ParentID], [isDisable]) VALUES (1006, 7, 6, N'Chao cau nhe', CAST(N'2022-10-15T00:00:00.000' AS DateTime), NULL, 0, 0, 0)
INSERT [dbo].[Comment] ([CommentID], [VideoID], [UserID], [CommentContent], [CommentDate], [Likes], [isReported], [ParentID], [isDisable]) VALUES (1007, 7, 10, N'Hi hi', CAST(N'2022-10-14T00:00:00.000' AS DateTime), NULL, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Docs] ON 

SET IDENTITY_INSERT [dbo].[Docs] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([LessonID], [SectionID], [LessonName], [isDisable], [types], [Time]) VALUES (5, 2, N'1. Mô hình Client-Server là gì ?', 0, N'Video', 695000)
INSERT [dbo].[Lesson] ([LessonID], [SectionID], [LessonName], [isDisable], [types], [Time]) VALUES (6, 2, N'2. Domain là gì? Tên miền là gì ?', 0, N'Video', 633000)
INSERT [dbo].[Lesson] ([LessonID], [SectionID], [LessonName], [isDisable], [types], [Time]) VALUES (8, 3, N'3. Học IT cần tố chất gì? Góc nhìn khác từ chiên gia định hướng giáo dục', 0, N'Docs', 60000)
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionID], [QuestionContent], [QuizID]) VALUES (1, N'Quang', 1)
INSERT [dbo].[Question] ([QuestionID], [QuestionContent], [QuizID]) VALUES (2, N'Trung Chu', 2)
INSERT [dbo].[Question] ([QuestionID], [QuestionContent], [QuizID]) VALUES (3, N'Hung Ken', 2)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([QuizID], [Mark], [LessonID]) VALUES (1, 0, 1047)
INSERT [dbo].[Quiz] ([QuizID], [Mark], [LessonID]) VALUES (2, 0, 1059)
INSERT [dbo].[Quiz] ([QuizID], [Mark], [LessonID]) VALUES (3, 0, 1060)
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Recharge] ON 

INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeDate], [Amount], [Status], [Method], [Content]) VALUES (1, 4, CAST(N'2022-10-16T11:55:14.683' AS DateTime), -100, 0, N'Buy', N'Buy course Hieu Shin dep trai')
INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeDate], [Amount], [Status], [Method], [Content]) VALUES (2, 4, CAST(N'2022-10-16T11:57:53.977' AS DateTime), -100, 0, N'Buy', N'Buy course Hieu Shin dep trai')
INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeDate], [Amount], [Status], [Method], [Content]) VALUES (3, 4, CAST(N'2022-10-16T17:35:02.450' AS DateTime), -100, 0, N'Buy', N'Buy course Hieu Shin dep trai')
SET IDENTITY_INSERT [dbo].[Recharge] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([SectionID], [CourseID], [SectionName], [isDisable]) VALUES (2, 1, N'1. Khái niệm kỹ thuật cần biết', 0)
INSERT [dbo].[Section] ([SectionID], [CourseID], [SectionName], [isDisable]) VALUES (3, 1, N'2. Môi trường, con người IT', 0)
INSERT [dbo].[Section] ([SectionID], [CourseID], [SectionName], [isDisable]) VALUES (4, 1, N'3. Phương pháp, định hướng', 0)
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Progress], [Paydate], [isFavourite]) VALUES (3, 1, 1, NULL, NULL, 0, NULL, 1)
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Progress], [Paydate], [isFavourite]) VALUES (4, 1, 0, NULL, NULL, 0, NULL, 0)
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Progress], [Paydate], [isFavourite]) VALUES (4, 10, 1, NULL, NULL, 0, NULL, 1)
GO
INSERT [dbo].[User_Lesson] ([UserID], [LessonID], [Status]) VALUES (3, 5, N'Study     ')
INSERT [dbo].[User_Lesson] ([UserID], [LessonID], [Status]) VALUES (3, 8, N'Study     ')
INSERT [dbo].[User_Lesson] ([UserID], [LessonID], [Status]) VALUES (4, 8, N'Study     ')
GO
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([VideoID], [LessonID], [VideoName], [VideoLink]) VALUES (1, 5, N'Mô hình Client-server', N'https://www.youtube.com/watch?v=zoELAirXMJY&ab_channel=F8Official')
INSERT [dbo].[Video] ([VideoID], [LessonID], [VideoName], [VideoLink]) VALUES (2, 6, N'Domain là gì? Bạn đã thật sự hiểu về Domain ?', N'https://www.youtube.com/watch?v=M62l1xA5Eu8&list=RDLVzoELAirXMJY&index=2&ab_channel=F8Official')
INSERT [dbo].[Video] ([VideoID], [LessonID], [VideoName], [VideoLink]) VALUES (3, 9, N'Sinh viên IT đi thực tập tại doanh nghiệp cần biết những gì ?', N'https://www.youtube.com/watch?v=YH-E4Y3EaT4&t=35s&ab_channel=F8Official')
SET IDENTITY_INSERT [dbo].[Video] OFF
GO
/****** Object:  Index [Answer_AnswerID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Answer_AnswerID] ON [dbo].[Answer]
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Blog_BlogID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Blog_BlogID] ON [dbo].[Blog]
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Comment_CommentID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Comment_CommentID] ON [dbo].[Comment]
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CommentBlog_CommentID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [CommentBlog_CommentID] ON [dbo].[CommentBlog]
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Course_CourseID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Course_CourseID] ON [dbo].[Course]
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Lesson_LessonID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Lesson_LessonID] ON [dbo].[Lesson]
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Notification_NoticeID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Notification_NoticeID] ON [dbo].[Notification]
(
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Question_QuestionID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Question_QuestionID] ON [dbo].[Question]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Quiz_QuizID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Quiz_QuizID] ON [dbo].[Quiz]
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Recharge_RechargeID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Recharge_RechargeID] ON [dbo].[Recharge]
(
	[RechargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Section_SectionID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Section_SectionID] ON [dbo].[Section]
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [User_UserID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [User_UserID] ON [dbo].[User]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Video_VideoID]    Script Date: 10/16/2022 11:11:39 PM ******/
CREATE NONCLUSTERED INDEX [Video_VideoID] ON [dbo].[Video]
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User_Lesson] ADD  CONSTRAINT [DF_User_Lesson_Checked]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FKAnswer353317] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FKAnswer353317]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FKBlog360084] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FKBlog360084]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKComment362035] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Video] ([VideoID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKComment362035]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKComment630592] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKComment630592]
GO
ALTER TABLE [dbo].[CommentBlog]  WITH CHECK ADD  CONSTRAINT [FKCommentBlo644738] FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blog] ([BlogID])
GO
ALTER TABLE [dbo].[CommentBlog] CHECK CONSTRAINT [FKCommentBlo644738]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_User] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_User]
GO
ALTER TABLE [dbo].[Docs]  WITH CHECK ADD  CONSTRAINT [FKDocs909883] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Docs] CHECK CONSTRAINT [FKDocs909883]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FKLesson935170] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Section] ([SectionID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FKLesson935170]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FKMessage213227] FOREIGN KEY([from])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FKMessage213227]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FKMessage65145] FOREIGN KEY([to])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FKMessage65145]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FKQuestion143290] FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([QuizID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FKQuestion143290]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FKQuiz516641] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FKQuiz516641]
GO
ALTER TABLE [dbo].[Recharge]  WITH CHECK ADD  CONSTRAINT [FKRecharge738481] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Recharge] CHECK CONSTRAINT [FKRecharge738481]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Comment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Comment]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [dbo].[User_Comment]  WITH CHECK ADD  CONSTRAINT [FK_User_Comment_Comment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[User_Comment] CHECK CONSTRAINT [FK_User_Comment_Comment]
GO
ALTER TABLE [dbo].[User_Comment]  WITH CHECK ADD  CONSTRAINT [FK_User_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Comment] CHECK CONSTRAINT [FK_User_Comment_User]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FKUser_Cours401962] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FKUser_Cours401962]
GO
ALTER TABLE [dbo].[User_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_User_Lesson_Lesson] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[User_Lesson] CHECK CONSTRAINT [FK_User_Lesson_Lesson]
GO
ALTER TABLE [dbo].[User_Lesson]  WITH CHECK ADD  CONSTRAINT [FK_User_Lesson_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Lesson] CHECK CONSTRAINT [FK_User_Lesson_User]
GO
ALTER TABLE [dbo].[User_Notification]  WITH CHECK ADD  CONSTRAINT [FKUser_Notif428842] FOREIGN KEY([NoticeID])
REFERENCES [dbo].[Notification] ([NoticeID])
GO
ALTER TABLE [dbo].[User_Notification] CHECK CONSTRAINT [FKUser_Notif428842]
GO
ALTER TABLE [dbo].[User_Notification]  WITH CHECK ADD  CONSTRAINT [FKUser_Notif445216] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Notification] CHECK CONSTRAINT [FKUser_Notif445216]
GO
ALTER TABLE [dbo].[User_Question]  WITH CHECK ADD  CONSTRAINT [FK_User_Question_Answer] FOREIGN KEY([AnswerID])
REFERENCES [dbo].[Answer] ([AnswerID])
GO
ALTER TABLE [dbo].[User_Question] CHECK CONSTRAINT [FK_User_Question_Answer]
GO
ALTER TABLE [dbo].[User_Question]  WITH CHECK ADD  CONSTRAINT [FK_User_Question_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Question] CHECK CONSTRAINT [FK_User_Question_User]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FKVideo395243] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FKVideo395243]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [from_to] CHECK  (([from]<>[to]))
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [from_to]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_docs]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_create_docs]
	@SectionID	INT,
	@LessonName NVARCHAR(200),
	@Time int,
	@Content NTEXT
AS BEGIN
	INSERT INTO [Lesson]([SectionID], [LessonName], [isDisable], [types], [Time])
	VALUES (@SectionID, @LessonName, 0, 'Docs', @Time);

	INSERT INTO [Docs]([LessonID], [Content])
	VALUES (
		(SELECT SCOPE_IDENTITY()),
		@Content
	);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_create_video]    Script Date: 10/16/2022 11:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_create_video]
	@SectionID	INT,
	@LessonName NVARCHAR(200),
	@VideoName NVARCHAR(200),
	@VideoLink VARCHAR(MAX),
	@Time INT
AS BEGIN
	INSERT INTO [Lesson]([SectionID], [LessonName], [isDisable], [types], [Time])
	VALUES (@SectionID, @LessonName, 0, 'Video', @Time);

	INSERT INTO [Video]([LessonID], [VideoName], [VideoLink])
	VALUES (
		(SELECT SCOPE_IDENTITY()),
		@VideoName,
		@VideoLink
	);
END;
GO

CREATE TRIGGER trg_UpdateMentorBal ON [User_Course] AFTER INSERT AS 
BEGIN
	UPDATE [User]
	SET Balance = Balance + (
		SELECT c.CoursePrice
		FROM inserted i
		inner join [Course] c on c.CourseID = i.CourseID
		WHERE i.CourseID = c.CourseID
	)
	FROM [User]
	inner join Course c on c.CourseID = CourseID
	JOIN inserted ON [User].UserID = c.AuthorID
END

GO
CREATE TRIGGER trg_UpdateBal ON [Recharge] AFTER INSERT AS 
BEGIN
	UPDATE [User]
	SET Balance = Balance + (
		SELECT Amount
		FROM inserted
		WHERE UserID = [User].UserID
	)
	FROM [User]
	JOIN inserted ON [User].UserID = inserted.UserID
END

GO
create PROC [sp_update_progress]
	@CourseID INT,
	@UserID INT
AS BEGIN
	WITH T AS (
		SELECT [UL].[Status]
		FROM [User_Lesson] AS UL, [Lesson] AS L, [Section] AS S 
		WHERE [UL].[UserID] = @UserID AND S.[CourseID] = @CourseID AND [UL].[LessonID] = [L].[LessonID] AND [L].[SectionID] = [S].[SectionID]
	) 
	UPDATE [User_Course] 
	SET [Progress] = CAST((SELECT COUNT(0) FROM T WHERE T.[Status] = 'Done') AS REAL) * 100 / (select count(0) from Lesson l
		inner join Section s on l.SectionID = s.SectionID
		where s.CourseID = @CourseID)
	WHERE [UserID] = @UserID AND [CourseID] = @CourseID
END

GO
CREATE TRIGGER [trg_update_user_lesson_status]
ON [User_Lesson]
FOR UPDATE
AS BEGIN
	SELECT * INTO #temp FROM inserted

	WHILE (SELECT COUNT(0) FROM #temp) > 0
	BEGIN
		DECLARE @UserID INT, @CourseID INT, @LessonID INT; 
		SELECT TOP 1 @UserID = [UserID], @CourseID = (
			SELECT [S].CourseID
			FROM [Lesson] AS L, [Section] AS S 
			WHERE [L].[SectionID] = [S].[SectionID] AND [L].[LessonID] = [#temp].[LessonID]
		), @LessonID = [LessonID] FROM #temp;
			
		EXEC [sp_update_progress] @CourseID, @UserID;

		DELETE FROM #temp WHERE [UserID] = @UserID AND [LessonID] = @LessonID;
	END
END

USE [master]
GO
