USE [master]
GO
/****** Object:  Database [SWP391]    Script Date: 9/28/2022 12:32:07 AM ******/
CREATE DATABASE [SWP391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWP391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HIEUSHIN\MSSQL\DATA\SWP391.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SWP391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HIEUSHIN\MSSQL\DATA\SWP391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWP391]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerContent] [text] NULL,
	[QuestionID] [int] NOT NULL,
	[isCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BlogDate] [datetime] NULL,
	[BlogContent] [text] NULL,
	[BlogTilte] [nvarchar](200) NULL,
	[BlogImage] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[VideoID] [int] NOT NULL,
	[CommentContent] [text] NULL,
	[CommentDate] [datetime] NULL,
	[Likes] [int] NULL,
	[isReported] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentBlog]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentBlog](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentContent] [text] NULL,
	[CommentDate] [datetime] NULL,
	[Likes] [int] NULL,
	[BlogID] [int] NOT NULL,
	[isReported] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
	[DateCreate] [datetime] NULL,
	[AuthorID] [int] NOT NULL,
	[Category] [nvarchar](200) NULL,
	[NumberEnrolled] [int] NOT NULL,
	[CoursePrice] [real] NULL,
	[CourseImage] [text] NULL,
	[isDisable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docs]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docs](
	[DocsID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[Content] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[SectionID] [int] NOT NULL,
	[LessonName] [nvarchar](200) NULL,
	[isDisable] [bit] NOT NULL,
	[types] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[from] [int] NOT NULL,
	[to] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[content] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NoticeID] [int] IDENTITY(1,1) NOT NULL,
	[NoticeContent] [text] NULL,
	[NoticeDate] [datetime] NULL,
	[isSeen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionContent] [text] NOT NULL,
	[QuizID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[Mark] [real] NULL,
	[LessonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recharge]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recharge](
	[RechargeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RechargeDate] [datetime] NULL,
	[Amount] [real] NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RechargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[SectionName] [nvarchar](200) NULL,
	[isDisable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](12) NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[DoB] [date] NULL,
	[PostCode] [varchar](10) NULL,
	[Balance] [real] NULL,
	[Avatar] [text] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](64) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[BankNumber] [varchar](20) NULL,
	[BankName] [nvarchar](50) NULL,
	[isDisable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Course](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[isStudied] [bit] NOT NULL,
	[CourseRating] [real] NULL,
	[CourseFeedback] [text] NULL,
	[Process] [real] NULL,
	[Paydate] [datetime] NULL,
	[isFavourite] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Notification]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Notification](
	[UserID] [int] NOT NULL,
	[NoticeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 9/28/2022 12:32:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[VideoID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[VideoName] [nvarchar](200) NULL,
	[VideoLink] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CourseName], [DateCreate], [AuthorID], [Category], [NumberEnrolled], [CoursePrice], [CourseImage], [isDisable]) VALUES (1, N'Kiến Thức Nhập Môn IT', CAST(N'2022-09-17T00:00:00.000' AS DateTime), 4, N'Frontend', 6234, NULL, NULL, 0)
INSERT [dbo].[Course] ([CourseID], [CourseName], [DateCreate], [AuthorID], [Category], [NumberEnrolled], [CoursePrice], [CourseImage], [isDisable]) VALUES (2, N'HTML CSS từ Zero đến Hero', CAST(N'2022-08-20T00:00:00.000' AS DateTime), 11, N'Frontend', 2135, NULL, NULL, 0)
INSERT [dbo].[Course] ([CourseID], [CourseName], [DateCreate], [AuthorID], [Category], [NumberEnrolled], [CoursePrice], [CourseImage], [isDisable]) VALUES (3, N'Responsive Với Grid System', CAST(N'2022-06-18T00:00:00.000' AS DateTime), 12, N'Frontend', 663, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PhoneNumber], [Country], [City], [Address], [DoB], [PostCode], [Balance], [Avatar], [Username], [Password], [Role], [BankNumber], [BankName], [isDisable]) VALUES (1, N'Nam', N'Ngô Hải', N'huongprowar@gmail.com', N'0364104616', N'Vietnam', N'Hanoi', N'Thach that, hoa lac', CAST(N'2002-12-25' AS Date), N'99999', 1.025E+07, NULL, N'huongprowar', N'2ce80d75a95e048573ee28d31681de0ec9c1eb205f0cc70e5b1d8353cc4ea8eb', N'Admin', NULL, NULL, 0)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PhoneNumber], [Country], [City], [Address], [DoB], [PostCode], [Balance], [Avatar], [Username], [Password], [Role], [BankNumber], [BankName], [isDisable]) VALUES (2, N'Hùng', N'Vũ Mạnh', N'hungvmhe163268@fpt.edu.vn', N'0357079822', N'Vietnam', N'Halong', N'BaiChay', CAST(N'2002-06-16' AS Date), N'9999', 1000000, NULL, N'hungvmhe163268', N'93b6604a21552aeafebbc337ceb147cfd463ddeb62bd2dc6e151896360439f90', N'Admin', NULL, NULL, 0)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PhoneNumber], [Country], [City], [Address], [DoB], [PostCode], [Balance], [Avatar], [Username], [Password], [Role], [BankNumber], [BankName], [isDisable]) VALUES (3, N'Hiếu', N'Nguyễn Văn', N'hieunvhe163104@fpt.edu.vn', N'0123456789', N'Vietnam', N'Bắc Giang', N'Bắc Giang', CAST(N'2002-07-28' AS Date), N'9999', 1000000, NULL, N'hieunvhe163104', N'b2cd77431c284d04160f1c92a615cd8c1177405fe9c94b86c0dfcb1d0b097979', N'Admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Process], [Paydate], [isFavourite]) VALUES (7, 1, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Process], [Paydate], [isFavourite]) VALUES (7, 2, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[User_Course] ([UserID], [CourseID], [isStudied], [CourseRating], [CourseFeedback], [Process], [Paydate], [isFavourite]) VALUES (7, 3, 1, 5, N'Là m?t khóa h?c r?t b? ích', 100, NULL, 1)
GO
/****** Object:  Index [Answer_AnswerID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Answer_AnswerID] ON [dbo].[Answer]
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Blog_BlogID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Blog_BlogID] ON [dbo].[Blog]
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Comment_CommentID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Comment_CommentID] ON [dbo].[Comment]
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CommentBlog_CommentID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [CommentBlog_CommentID] ON [dbo].[CommentBlog]
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Course_CourseID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Course_CourseID] ON [dbo].[Course]
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Lesson_LessonID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Lesson_LessonID] ON [dbo].[Lesson]
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Notification_NoticeID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Notification_NoticeID] ON [dbo].[Notification]
(
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Question_QuestionID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Question_QuestionID] ON [dbo].[Question]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Quiz_QuizID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Quiz_QuizID] ON [dbo].[Quiz]
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Recharge_RechargeID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Recharge_RechargeID] ON [dbo].[Recharge]
(
	[RechargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Section_SectionID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Section_SectionID] ON [dbo].[Section]
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [User_UserID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [User_UserID] ON [dbo].[User]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Video_VideoID]    Script Date: 9/28/2022 12:32:08 AM ******/
CREATE NONCLUSTERED INDEX [Video_VideoID] ON [dbo].[Video]
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FKAnswer353317] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FKAnswer353317]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FKBlog360084] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FKBlog360084]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FKComment362035] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Video] ([VideoID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FKComment362035]
GO
ALTER TABLE [dbo].[CommentBlog]  WITH CHECK ADD  CONSTRAINT [FKCommentBlo644738] FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blog] ([BlogID])
GO
ALTER TABLE [dbo].[CommentBlog] CHECK CONSTRAINT [FKCommentBlo644738]
GO
ALTER TABLE [dbo].[Docs]  WITH CHECK ADD  CONSTRAINT [FKDocs909883] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Docs] CHECK CONSTRAINT [FKDocs909883]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FKLesson935170] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Section] ([SectionID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FKLesson935170]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FKMessage213227] FOREIGN KEY([from])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FKMessage213227]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FKMessage65145] FOREIGN KEY([to])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FKMessage65145]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FKQuestion143290] FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([QuizID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FKQuestion143290]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FKQuiz516641] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FKQuiz516641]
GO
ALTER TABLE [dbo].[Recharge]  WITH CHECK ADD  CONSTRAINT [FKRecharge738481] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Recharge] CHECK CONSTRAINT [FKRecharge738481]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FKSection763424] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FKSection763424]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FKUser_Cours401962] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FKUser_Cours401962]
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD  CONSTRAINT [FKUser_Cours952265] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[User_Course] CHECK CONSTRAINT [FKUser_Cours952265]
GO
ALTER TABLE [dbo].[User_Notification]  WITH CHECK ADD  CONSTRAINT [FKUser_Notif428842] FOREIGN KEY([NoticeID])
REFERENCES [dbo].[Notification] ([NoticeID])
GO
ALTER TABLE [dbo].[User_Notification] CHECK CONSTRAINT [FKUser_Notif428842]
GO
ALTER TABLE [dbo].[User_Notification]  WITH CHECK ADD  CONSTRAINT [FKUser_Notif445216] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Notification] CHECK CONSTRAINT [FKUser_Notif445216]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FKVideo395243] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FKVideo395243]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [from_to] CHECK  (([from]<>[to]))
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [from_to]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_account]    Script Date: 9/28/2022 12:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_create_account]
	@UserName	varchar(50),
	@Password	varchar(64),
	@Email		varchar(50),
	@FirstName	Nvarchar(30),
	@LastName	Nvarchar(30),
	@DoB		date,
	@Role		varchar(50),
	@Balance	float(10),
	@BankNum	varchar(20),
	@BankName	nvarchar(50),
	@isDisable	bit
AS 
BEGIN
	INSERT INTO [User]([UserName], [Password], [Email], [FirstName], [LastName], [DoB], [Role], [Balance], [BankNumber], [BankName], [isDisable]) 
	VALUES (@UserName, @Password,@Email, @FirstName, @LastName, @DoB, @Role, @Balance, @BankNum, @BankName, @isDisable);
END;
GO
USE [master]
GO
